.canvas-container {
  display: flex;
  justify-content: flex-start;
  margin-left: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.forms-container {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding-left: 40px;
}

.custom-select {
  margin-bottom: 10px;
}

.label {
  padding-left: 10px;
}

.main-container {
  /* width: 460px;
  overflow: auto;
  padding: 10px; */
  display: flex;
  justify-content: center;
}

.target-container {
  border: 2px solid lightskyblue;
  border-radius: 2px;
  float: left;
  width: 450px;
  padding: 5px;
  /*height: 250px;*/
}

button {
  margin-top: 10px;
}