// => Button components
// ------------------------------------------------------------------------------

.btn {
  border: none;
}

.btn-primary {
  background: $color-primary;
}

.btn-secondary {
  background: $color-secondary;
}