// => Footer Components
// ------------------------------------------------------------------------------
.main-footer {
  padding-top: $gutter;
  padding-bottom: $gutter;
  background-color: theme-color('secondary');
  color: #fff;
  font-size: 14px;
}