// => Header section components
// ------------------------------------------------------------------------------

.main-header {
  background-color: theme-color('secondary');
  padding-top: $gutter * 1.5;
  padding-bottom: $gutter * 1.5;
  color: #fff;
}