// => Variables
// ------------------------------------------------------------------------------
//
// Color system
//

$white:  #fff;
$black:  #000;

$color-primary: #FF595B;
$color-secondary: #5D66D3;
$color-light: #F8F8F8;
$color-dark: #262829;

// Set a specific jump point for requesting color jumps
$theme-color-interval: 8%;
// The yiq lightness value that determines when the lightness of color changes from "dark" to "light". Acceptable values are between 0 and 255.
$yiq-contrasted-threshold: 150;
// Customize the light and dark text colors for use in our YIQ color contrast function.
$yiq-text-dark: $black;
$yiq-text-light: $white;

$body-bg: #fff;
$body-color: $color-dark;
$link-color: $color-primary;
$text-color: $color-dark;

// Typo
//

$font-family-sans-serif: 'Roboto', sans-serif;
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$font-family-base: $font-family-sans-serif;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 600;
$headings-color: $text-color;
$headings-font-weight: $font-weight-bold;

$font-size-base: 1rem;
$h1-font-size: 2.2rem;
$h2-font-size: 1.8rem;
$h3-font-size: 1.4rem;

$line-height-base: 1.6;

// Grid
//
$grid-columns: 12;
$grid-gutter-width: 30px;
$gutter: $grid-gutter-width;

$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px
);
